body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background: #f5f5f5;
}

/* Text Area */

div.inputArea { /* Main Block */
  width: 100%;
  overflow: auto;
}

div.inputTextArea { /* Main Text Block */
  width: 100%;
  overflow: auto;
}

div.inputTextArea div { /* Inner Blocks */
  border: 2px solid;
  float: left;
  padding: 5px;
  box-sizing: border-box;
}

div.inputText label { /* Labels */
  font-size: 13px;
}

div.inputText input { /* Input */
  font-size: 11px;
}

div.inputText textarea { /* Input textarea */
  width: 95%;
}

div.scrollArea { /* Main Scroll Block */
  width: 86%;
  border: 2px solid;
  padding: 5px;
}


/* Button Area */
button {
    background: #007bff;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

.hidden {
    display: none;
}

#generatePdfButton {
    width: 100%;
    margin-bottom: 4px;
}