body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background: #f5f5f5;
}

/* Text Area */

div.formatArea, div.textArea, div.scrollArea {
  border: 2px solid;
  padding: 5px;
  box-sizing: border-box;
}

div.textArea label {
  font-size: 13px;
}

div.textArea input, textarea {
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
}

div.textArea textarea {
  width: 95%;
}

#nameInput {
  width: 70%;
}

#dateInput {
  width: 40%;
}

#dateButton {
    background: #009a12;
    color: white;
    font-size: 11px;
    border: none;
    padding: 2px 8px;
    margin: auto;
    border-radius: 5px;
    cursor: pointer;
}

#dateButton:hover {
    background: #008800;
}

div.scrollArea {
  width: 100%;
  border: 2px solid;
  padding: 5px;
}


/* Button Area */
button {
    background: #007bff;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

.hidden {
    display: none;
}

#generatePdfButton {
    width: 100%;
    margin-bottom: 4px;
}